/node_modules
/Structures/config.json
.DS_Store

# temp config files that require a name change to "config.json" before use -Nika
/Structures/prod-config.json
/Structures/test-config.json

# 3rd party node.js modules with *.tar.gz extention 
**/*.tar.gz

fileSystem.js
